{% extends 'base.html' %}

{% block content %}
<p>
<a href="/students/add"><button type="submit">Add new student</button></a>
{% if context['form']=='search' %}
<h1> Students search </h1>
<form action="/students/search" method="get">
  <label for="first_name">First name:</label>
  <input type="text" id="first_name" name="first_name"><br><br>
  <label for="last_name">Last name:</label>
  <input type="text" id="last_name" name="last_name"><br><br>
  <label for="group_id">Group id:</label>
  <input type="text" id="group_id" name="group_id"><br><br>
  <input type="submit" value="Search">
</form>

{% if context['search_results'] == 0 %}
<h1>Not found</h1>

{% elif context['search_results'] %}
<table style="width:50%" class="center">
    <tr>
        <th style="width:30%" class="text-center">First name</th>
        <th style="width:30%">Last name</th>
        <th style="width:20%">Group_id</th>
        <th style="width:10%">Update</th>
        <th style="width:10%">Delete</th>
    </tr>
    {% for student in context['search_results'] %}
        <tr>
            <td>{{ student[1] }}</td>
            <td>{{ student[2] }}</td>
            <td>{{ student[3] }}</td>
            <td> <a href="/students/update/{{student[0]}}">Update</a></td>
            <td><a href="/students/delete/{{student[0]}}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% endif %}

{% if context['form']=='add' %}
<h1> Add student </h1>
<form action="/students" method="post">
  <label for="first_name">First name:</label>
  <input type="text" id="first_name" name="first_name" required><br><br>
  <label for="last_name">Last name:</label>
  <input type="text" id="last_name" name="last_name" required><br><br>
  <label for="group_id">Group id:</label>
  <input type="text" id="group_id" name="group_id" required><br><br>
  <button type="submit" formaction="/students/add">Add Student</button>
</form>
{% endif %}

{% if context['form']=='update' %}
<h1> Update student </h1>
<form method="post">
  <label for="first_name">First name:</label>
  <input type="text" id="first_name" name="first_name"
         value="{{context['student'].first_name}}" required ><br><br>
  <label for="last_name">Last name:</label>
  <input type="text" id="last_name" name="last_name"
         value="{{context['student'].last_name}}" required><br><br>
  <label for="group_id">Group id:</label>
  <input type="text" id="group_id" name="group_id"
         value="{{context['student'].group_id}}" required><br><br>
  <button type="submit" name="Update_info" value="Update">
      Update Student</button>
</form>
{% endif %}

{% if context['form']=='delete' %}
<form
    method="post"
    onSubmit="return confirm('Are you sure you wish to delete?');">
    <h3 align="center"> Delete student {{context['student'].first_name}}
        {{context['student'].last_name}}?
    <input type="submit" name="Delete_confirmation" value="Delete">
</form>
{% endif %}
{% endblock %}
